*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.slider{
    position: relative;
    z-index: 1;
    max-width: 800px;
    margin: 20px auto;
}
.my-slider{
    position: relative;
}
img{
    position: absolute;
    z-index: 2;
    width: 100%;
    max-width: 800px;
    height: 500px;
    transition: all ease 1s;
    opacity: 1;
}

.buttons{
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 24px;
    transform: translate(-50%, -50%);
}
.buttons span{
   margin: 0 20px;
}
.opacity-0{
    opacity: 0;
}
